@import "./variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: $font-poppins;
  //   color: $text;
}

button {
  // reset to default
  font-family: inherit;
  outline: none;
  border: none;
  background: none;
  letter-spacing: inherit;
  color: inherit;
  font-size: inherit;
  text-align: inherit;
  padding: 0;
}

.body-container {
  min-height: 90vh;
}
a {
  text-decoration: none;
}
a:hover {
  color: inherit;
}

.bookmark {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: $color-grey;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.1);
  }
  &--select {
    color: $color-primary;
  }
  &--unselect {
    color: $color-grey;
  }
}
