@import "./variables.scss";
@import "./animation.scss";

.register-container {
  min-height: 100vh;
  position: relative;
  padding-bottom: 60px;

  &__wave {
    position: absolute;
    z-index: -1;
    bottom: 0;
  }
}

.register-message {
  max-width: 500px;
  font-size: 20px;
  text-align: center;
  // color: $color-light;
  margin: 30px auto;
  // visibility: hidden;
  font-weight: 400;
  padding: 10px;
  background-color: rgb(239, 68, 59);
  border-radius: 7px;
}
// .register-message--success {
//   background-color: rgb(26, 229, 80);
//   animation: fromTop 5s ease-out;
// }
// .register-message--failed {
//   background-color: rgb(237, 87, 87);
//   animation: fromTop 1.5s;
// }

.register {
  max-width: 500px;
  top: 80px;
  right: 50%;
  margin: 0 auto;

  padding: 50px;
  background: rgba(255, 255, 255, 0.71);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 21px;
  @include breakpoint(sm) {
    padding: 20px;
    margin: 80px 20px 0 20px;
  }
  div:not(:last-child) {
    position: relative;
    margin-bottom: 40px;
    svg {
      position: absolute;
      font-size: 20px;
      top: 16px;
      left: 10px;
      color: $color-grey;
    }
  }
  &__form-field {
    font-family: inherit;
    width: 100%;
    padding: 15px 20px 15px 50px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 600;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    &::placeholder {
      color: $color-grey;
    }
  }
  &__btn {
    border-radius: 13px;
    width: 100%;
    padding: 15px 20px 15px 20px;
    font-size: 18px;
    font-weight: 600;
    color: $color-light;
    background-color: $color-primary;
    outline: none;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      transform: scale(1.02);
      transform: translateY(-5px);
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px,
        rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px,
        rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    }
  }
  &__signin {
    text-align: center;
    &--text {
      font-weight: 500;
    }
    &--btn {
      margin-left: 20px;
      font-size: 16px;
      font-weight: 500;
      padding: 10px;
      border: 2px solid $color-grey;
      border-radius: 8px 10px;
      color: $color-dark;
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        color: $color-light;
        background-color: $color-primary;
        border-color: $color-primary;
      }
    }
  }
}
