@import "./variables";

.vehicle {
  max-width: 1250px;
  margin: 40px auto;
  display: grid;
  gap: 5rem;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  &__image {
    position: relative;
    img {
      width: 100%;
      object-fit: contain;
    }
    svg {
    }
  }
  &__details {
    & > :not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__name {
    font-size: 24px;
    font-weight: 700;
  }
  &__desc {
    color: $color-grey;
    font-size: 18px;
  }
  &__cost {
    font-size: 20px;
    &--rs {
      color: $color-green;
      font-weight: 600;
    }
  }
  &__book-btn {
    background-color: $color-primary;
    color: $color-light;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 8px;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      transform: translateY(-5px);
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px,
        rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px,
        rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    }
  }
}

.reviews-container {
  max-width: 1200px;
  margin: 150px auto;
  h3 {
    font-size: 20px;
    font-weight: 600;
    color: $color-green;
    margin-bottom: 60px;
  }
}

.review {
  position: relative;
  margin-bottom: 50px;
  &__user {
    display: flex;
    font-weight: 600;
    align-items: center;
    margin-bottom: 20px;
    &--image {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      object-fit: cover;
      margin-right: 10px;
    }
  }

  &__rating {
    position: absolute;

    top: 10px;
    right: 10px;
    svg {
      margin-left: 5px;
      color: $color-primary;
    }
  }
  &__text {
    display: inline-block;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 8px;
    padding: 20px;
  }
}
